[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.6"

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"
jupyter = "*"

[packages]
matplotlib = "*"
pandas = "*"
progress = "*"
torch = "*"
torchtext = "*"
torchvision = "*"
pytorch-transformers = "*"
